<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/clientForm.css">

  <title>Create/Edit Client</title>
</head>
<body>
    <!-- Logo -->
    <div id="logo-container">
      <img src="/img/Binary.png" alt="Logo" id="logo">
      </div>
  
  <!-- Tabs for different sections -->
  <div>
    <button onclick="openTab('general')">General</button>
    <button onclick="openTab('contacts')" class="contacts">Contact(s)</button>
  </div>
  
    <!-- General tab -->
    <div id="general" class="tabcontent">
      <form id="clientForm" action="/clients/new" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    
        <!-- Display client code if it exists (after saving) -->
        <% if (client && client.clientCode) { %>
          <p>Client Code: <%= client.clientCode %></p>
        <% } %>
    
        <!-- Hide the client code input if it's a new client -->
        <div id="clientCodeContainer" style="display: <%= client && client.clientCode ? 'none' : 'block' %>">
          <label for="clientCode">Client Code:</label>
          <input type="text" id="clientCode" name="clientCode" readonly>
        </div>
    
        <button type="submit">Create Client</button>
      </form>
    
    </div>

  <!-- Contacts tab -->
<div id="contacts" class="tabcontent">
  <div class="contacts-section linked-contacts">
    <h2>Linked Contacts</h2>
    <ul>
      <% if (client && client.length > 0) { %>
        <% client.forEach(client => { %>
          <li>
            <span class="contact-name"><%= client.name %> (<%= client.clientCode %>)</span>
            <span class="contact-email"><%= client.email %></span>
            <a href="#" class="unlink" data-client-id="<%= client._id %>" data-contact-id="<%= contact._id %>">Unlink</a>
          </li>
        <% }); %>
      <% } else { %>
        <li class="no-contacts">No linked contacts.</li>
      <% } %>
    </ul>
  </div>
  <hr>
  <div id="unlinkModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Unlink Contact from Clients</h2>
      <form id="unlinkForm">
        <label for="contactDropdown">Select Contacts:</label>
        <select multiple id="contactDropdown" name="contacts[]">
          <!-- Options will be dynamically added using JavaScript -->
        </select>
        <button type="button" id="unlinkButton">Unlink</button>
      </form>
    </div>
  </div>
  
  <script src="/js/script.js" defer></script>
</body>
</html>
