<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/contactForm.css">
  <title>Create Client</title>
</head>
<body>
  <!-- Logo -->
  <div id="logo-container">
    <img src="/img/Binary.png" alt="Logo" id="logo">
  </div>

  <!-- Tabs for different sections -->
  <div>
    <button onclick="openTab('general')">General</button>
    <button onclick="openTab('contacts')" class="contacts">Contact(s)</button>
  </div>
  

<div id="general" class="tabcontent">
  <form action="/contacts/new" method="POST">
    <!-- Display error messages -->
    

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="surname">Surname:</label>
    <input type="text" id="surname" name="surname" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <div id="errorMessages" style="display: none; color: red;"></div>

    <button type="submit">Create Contact</button>
  </form>
</div>

<!-- ... (your existing HTML) ... -->

<!-- Linked Contacts -->
<ul id="linkedContacts">
  <% if (linkedContacts.length > 0) { %>
    <li>Linked Contacts:</li>
    <% linkedContacts.forEach(linkedContact => { %>
      <a href="#" class="unlink" data-client-id="<%= linkedContact.clientId %>" data-contact-id="<%= linkedContact.contactId._id %>">Unlink</a>
    <% }); %>
  <% } else { %>
    <li>No linked contacts.</li>
  <% } %>
</ul>

<!-- Available Contacts -->
<ul id="availableContacts">
  <% if (contact.length > 0) { %>
    <li>Available Contacts:</li>
    <% contact.forEach(contact => { %>
      <li>
        <%= contact.name %> (<%= contact.email %>) 
        <a href="#" class="link" data-contact-id="<%= contact._id %>">Link</a>
      </li>
    <% }); %>
  <% } else { %>
    <li>No available contacts.</li>
  <% } %>
</ul>


<!-- Modal for linking contacts to clients -->
<div id="linkModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Link Contact to Clients</h2>
    <label for="clientDropdown">Select Clients:</label>
    <select id="clientDropdown" multiple>
      <!-- Options will be dynamically added using JavaScript -->
    </select>
    <button id="linkButton">Link</button>
  </div>
</div>


  <script src="/js/script.js" defer></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>
